.page-users {
  padding: 4px;
  display: flex;
  flex-direction: column;
  background-color: var(--cl-dark-70);

  height: 100%;
  .table-users {
    .ant-table {
      &-thead {
        .ant-table-cell {
          // background-color: var(--cl_primary);
          color: white;
        }
      }
    }
  }
}
