:root {
  --sz_header_height: 3rem;
  --sz_footer_height: 3rem;

  --cl_text: #161823;
  --cl_primary: #31b1b4;
  --cl_bg_public_screen: #fcfcfc;

  --cl_gray-60: #a6a6aa;

  --cl_header_background: #ffffff;

  --cl-table-header-background: #4b5fd3;
  --cl-action-background: #4b5fd3;

  --cl-background-color: #ffffff;

  --cl-turquose: #fb8500;
  --cl-turquose-20: #f9c784;
  --cl-dark-80: #373737;
  --cl-dark-70: #464646;
  --cl-dark-60: #5c5c5c;
  --cl-dark-40: #a6a6aa;
}
