:root {
  --sz_header_height: 3rem;
  --sz_footer_height: 3rem;

  --cl_text: #161823;
  --cl_primary: #31b1b4;
  --cl_bg_public_screen: #fcfcfc;

  --cl_header_background: #292961;

  --cl-table-header-background: #4b5fd3;
  --cl-action-background: #4b5fd3;
}
