.default-layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  background-color: black;

  .page_content {
    overflow: auto;
    width: 100%;
    height: calc(100vh - var(--sz_header_height));
    background-color: var(--cl-dark-80);
    padding: 8px;

    .ant-spin-container {
      height: 100%;

      & > div {
        background-color: var(--cl-dark-70);
        height: 100%;
        padding: 4px;
      }
    }
  }
}

.public-layout {
  width: 100vw;
  height: 100vh;
  background-color: var(--cl_bg_public_screen);
}
