.default-layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  background-color: black;

  .page_content {
    overflow: auto;
    width: 88%;
    height: calc(100vh - var(--sz_header_height));
    background-color: white;
  }
}

.public-layout {
  width: 100vw;
  height: 100vh;
  background-color: var(--cl_bg_public_screen);
}
