.page-navbar {
  background-color: var(--cl-dark-60);
  height: 100vh;
  width: 15%;

  .item-content {
    font-weight: 800;
    color: var(--cl_gray-60);
  }
  .nav-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 16px;
    gap: 10px;

    height: 32px;

    /* Primary/Turquoise */

    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    cursor: pointer;
    margin: 4px 0;
  }
  .logo {
    background-image: url('../../../../../public/images/logo.png');
  }
}
.item-selected {
  color: white;
  background-color: var(--cl_primary);
  .item-content {
    color: white;
  }
}

.item-default {
  color: var(--cl_gray-60);
  background: white;
}

.icon {
  width: 24px;
  height: 24px;
  margin: auto 6px auto 10px;
}
